main {
  margin-top: 3rem;
}

.signup-title {
  text-align: center;
  font-size: 2rem;
  color: #ff5454;
}

.signup-form {
  padding: 0 5%;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: .5rem;
  width: 100%;
}

.signup-form select {
  width: auto;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
  border: 1px solid #ccc;
  border-radius: .6rem;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
}

.signup-form input:focus,
.signup-form select:focus {
  outline: none;
  background: #d8f3df;
  border-color: #2ddf5c;
}

.signup-form input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
  background: #fff;
  width: 1rem;
  height: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.signup-form input[type="checkbox"]:checked {
  background: #2ddf5c;
  border: #0e4f1f;
}

.signup-form label[id*="terms"] {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.signup-btns {
  margin: 1rem 0;
  text-align: center;
}

.signup-form input.invalid,
.signup-form select.invalid,
.signup-form :invalid {
  border: 2px solid red !important;
  background-color: #f69f9f; 
}

@media (min-width: 40rem) {
  .signup-form {
    width: 35rem;
    margin: auto;
  }
}